* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: "Poppins", sans-serif;
  font-size: 1rem;
}

img {
  width: 100%;
}

li {
  list-style-type: none;
}

a {
  text-decoration: none;
}

button {
  background: none;
  border: none;
}

.p1 {
  padding: 1em;
}

.bg-dark {
  background: #050505 !important;
  -webkit-transition: 0.3s ease-in-out;
  transition: 0.3s ease-in-out;
}

.toRight {
  -webkit-transform: translateX(100%);
          transform: translateX(100%);
  -webkit-transition: 0.3s ease-in-out;
  transition: 0.3s ease-in-out;
}

@media (min-width: 1024px) {
  .toRight {
    -webkit-transform: translateX(0);
            transform: translateX(0);
    -webkit-transition: none;
    transition: none;
  }
}

header.header {
  background-image: url("../images/bg2.jpg");
  background-position: center;
  background-size: cover;
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  z-index: 12;
}

header.header::before {
  content: "";
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  position: absolute;
  background-color: rgba(14, 17, 23, 0.7);
  z-index: 1;
}

header.header nav.navbar {
  width: 100%;
  height: auto;
  position: fixed;
  top: 0;
  left: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  z-index: 999;
}

header.header nav.navbar .container {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0;
  margin: 0;
}

header.header nav.navbar .container ul.menu {
  background-color: #070707;
  width: 100%;
  height: 100vh;
  position: absolute;
  top: 0;
  left: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transition: 0.5s ease-in-out;
  transition: 0.5s ease-in-out;
}

header.header nav.navbar .container ul.menu li {
  text-align: center;
  display: block;
  width: 100%;
  padding: 0.5em 0;
}

header.header nav.navbar .container ul.menu li a {
  color: white;
  font-size: 1.5rem;
  width: 100%;
  display: block;
  padding: 1em;
}

header.header nav.navbar .container ul.menu li a:hover {
  background-color: #161616;
}

header.header nav.navbar .container button.hamburger {
  background: none;
  border: none;
  width: 35px;
  height: 35px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  z-index: 99;
  -webkit-transition: 0.3s ease-in-out;
  transition: 0.3s ease-in-out;
  cursor: pointer;
}

header.header nav.navbar .container button.hamburger::before {
  content: "";
  position: absolute;
  background-color: #ffffff;
  width: 100%;
  height: 3px;
  -webkit-transform: translateY(-12px);
          transform: translateY(-12px);
  -webkit-box-shadow: 0 12px 0 #ffffff;
          box-shadow: 0 12px 0 #ffffff;
  -webkit-transition: 0.3s ease-in-out;
  transition: 0.3s ease-in-out;
}

header.header nav.navbar .container button.hamburger::after {
  content: "";
  position: absolute;
  background-color: #ffffff;
  width: 100%;
  height: 3px;
  -webkit-transform: translateY(12px);
          transform: translateY(12px);
  -webkit-transition: 0.3s ease-in-out;
  transition: 0.3s ease-in-out;
}

header.header nav.navbar .container button.hamburger.active {
  -webkit-transition: 0.3s ease-in-out;
  transition: 0.3s ease-in-out;
}

header.header nav.navbar .container button.hamburger.active::before {
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
  -webkit-box-shadow: none;
          box-shadow: none;
  -webkit-transition: 0.3s ease-in-out;
  transition: 0.3s ease-in-out;
}

header.header nav.navbar .container button.hamburger.active::after {
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
  -webkit-transition: 0.3s ease-in-out;
  transition: 0.3s ease-in-out;
}

header.header .header-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 100%;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 1.5em;
  z-index: 10;
}

header.header .header-container h1.title {
  color: #ffc531;
  font-size: 2.5rem;
  font-weight: normal;
}

header.header .header-container h2.name {
  font-size: 4.375rem;
  text-align: center;
  font-family: "Birthstone Bounce", cursive;
  color: white;
  font-weight: 500;
  text-shadow: 0 5px 2px rgba(0, 0, 0, 0.3);
}

header.header .header-container h3.hours {
  color: white;
  font-size: 1.5rem;
  font-weight: 500;
  text-transform: uppercase;
}

header.header .header-container p.days {
  color: white;
  font-weight: 500;
  font-size: 1.125rem;
}

header.header .header-container p.days span {
  color: #a7a7a7;
  font-weight: 400;
}

section.about {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-image: url("../images/aboutBg.jpg");
  background-position: center;
  background-size: cover;
  padding: 10em 0;
}

section.about .about-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 1em;
}

section.about .about-container h1.title {
  color: white;
  font-size: 2.25rem;
  font-weight: bold;
}

section.about .about-container h1.title span {
  color: #d45d5d;
}

section.about .about-container .about-desc {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 3em;
  padding: 3em 1em 0 1em;
}

section.about .about-container .about-desc .about-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 3.5em;
}

section.about .about-container .about-desc .about-box h1.title {
  font-size: 2rem;
  position: relative;
}

section.about .about-container .about-desc .about-box h1.title::before {
  content: "";
  position: absolute;
  bottom: -0.5rem;
  right: 0;
  background-color: #d45d5d;
  width: 30%;
  height: 2px;
}

section.about .about-container .about-desc .about-box p.desc {
  color: #bdbdbd;
  font-size: 1rem;
  font-weight: 400;
}

section.about .about-container .about-desc .about-box button.btn {
  color: #d45d5d;
  font-size: 1rem;
  font-weight: 500;
  text-transform: uppercase;
}

section.about .about-container .about-desc .about-box button.btn .btn-arrow {
  margin-left: 5px;
  margin-bottom: 1px;
}

section.specials {
  background-color: #fafafa;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 1em;
  padding: 10em 0;
}

section.specials h1.title {
  font-size: 2rem;
  text-transform: uppercase;
  color: #272727;
}

section.specials h1.title span {
  color: #d45d5d;
}

section.specials h2.sub-title {
  font-size: 2rem;
  text-transform: uppercase;
  color: #303030;
}

section.specials .specials-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 3em 1em 0 1em;
  gap: 5em;
}

section.specials .specials-container .special-card {
  background-color: white;
  -webkit-box-shadow: 0 5px 20px rgba(0, 0, 0, 0.15);
          box-shadow: 0 5px 20px rgba(0, 0, 0, 0.15);
  padding: 2em 2em;
  border-radius: 5px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 1em;
}

section.specials .specials-container .special-card:hover {
  -webkit-transform: scale(1.05);
          transform: scale(1.05);
}

section.specials .specials-container .special-card h1.title {
  font-size: 1.875rem;
  font-weight: 500;
  position: relative;
  text-transform: capitalize;
}

section.specials .specials-container .special-card h1.title::before {
  content: "";
  position: absolute;
  bottom: 0;
  right: 0;
  background-color: #d45d5d;
  width: 30%;
  height: 2px;
}

section.specials .specials-container .special-card img {
  width: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}

section.specials .specials-container .special-card .product-details {
  width: 70%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

section.specials .specials-container .special-card .product-details h3 {
  color: #525252;
  font-size: 1rem;
  font-weight: bold;
}

section.specials .specials-container .special-card .product-details p {
  color: #d45d5d;
  font-size: 1.625rem;
  font-weight: bold;
}

section.reservation {
  background-image: url("../images/reservationBg.jpg");
  padding: 10em 1em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 1em;
}

section.reservation h1.title {
  color: white;
  font-size: 2rem;
  font-weight: bold;
}

section.reservation h1.title span {
  color: #d45d5d;
}

section.reservation .reservation-container {
  background-color: #171b22;
  width: 100%;
  padding: 1.5em;
  border-radius: 5px;
  gap: 2em;
  margin-top: 3em;
}

section.reservation .reservation-container .reservation-card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 1em;
}

section.reservation .reservation-container .reservation-card form.form {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 1em;
}

section.reservation .reservation-container .reservation-card form.form label {
  color: white;
  font-size: 1rem;
  font-weight: 500;
}

section.reservation .reservation-container .reservation-card form.form input {
  background-color: #272b34;
  border: 1px solid #08080e;
  padding: 1em;
  border-radius: 5px;
}

section.reservation .reservation-container .reservation-card form.form input:focus {
  outline: none;
}

section.reservation .reservation-container .reservation-card form.form .date {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

section.reservation .reservation-container .reservation-card form.form .date .bk-date {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 1em;
  width: 60%;
}

section.reservation .reservation-container .reservation-card form.form .date .bk-time {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 1em;
  width: 35%;
}

section.reservation .reservation-container .reservation-card form.form input.button {
  background-color: #d45d5d;
  font-size: 1rem;
  font-weight: 600;
  color: white;
  margin-top: 2em;
}

section.contact {
  background-color: #ececec;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 1em;
  padding: 10em 0;
}

section.contact h1.title {
  font-size: 2rem;
  text-transform: uppercase;
  color: #272727;
}

section.contact h1.title span {
  color: #d45d5d;
}

section.contact .contact-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  padding: 3em 1em;
  border-radius: 5px;
  gap: 6em;
}

section.contact .contact-container .contact-form {
  background-color: white;
  -webkit-box-shadow: 0 5px 20px rgba(0, 0, 0, 0.15);
          box-shadow: 0 5px 20px rgba(0, 0, 0, 0.15);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  padding: 1em;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 5px;
}

section.contact .contact-container .contact-form form.form {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 1em;
}

section.contact .contact-container .contact-form form.form label {
  color: #272727;
  font-size: 1rem;
  font-weight: 500;
}

section.contact .contact-container .contact-form form.form input {
  background-color: #eaeaea;
  border: none;
  padding: 1em;
  border-radius: 5px;
}

section.contact .contact-container .contact-form form.form input:focus {
  outline: none;
}

section.contact .contact-container .contact-form form.form textarea {
  background-color: #eaeaea;
  border: none;
  padding: 1em;
  border-radius: 5px;
  height: 200px;
}

section.contact .contact-container .contact-form form.form input.button {
  background-color: #d45d5d;
  font-size: 1rem;
  font-weight: 600;
  color: white;
  margin-top: 2em;
  text-transform: uppercase;
}

section.contact .contact-container iframe {
  width: 100%;
  border-radius: 5px;
  padding: 1em;
  background-color: #fff;
}

footer {
  background-color: #0a0b0f;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

footer .footer-container {
  padding: 1.5em;
}

footer .footer-container h1.copy {
  color: white;
  font-size: 1rem;
  font-weight: 400;
}

@media (min-width: 768px) {
  section.about {
    padding: 5em;
  }
  section.reservation {
    padding: 5em;
  }
  section.contact {
    padding: 5em;
  }
}

@media (min-width: 1024px) {
  header.header nav.navbar {
    background: none;
    -webkit-transition: 0.3s ease-in-out;
    transition: 0.3s ease-in-out;
  }
  header.header nav.navbar .container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 1200px;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  header.header nav.navbar .container ul.menu {
    background: none;
    width: auto;
    height: auto;
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-transition: none;
    transition: none;
  }
  header.header nav.navbar .container ul.menu li {
    display: block;
    width: auto;
    padding: 0.5em 0;
  }
  header.header nav.navbar .container ul.menu li a {
    color: white;
    font-size: 1rem;
    width: 100%;
    display: block;
    padding: 1em;
  }
  header.header nav.navbar .container ul.menu li a:hover {
    background: none;
    color: #ffc531;
  }
  header.header nav.navbar .container button.hamburger {
    display: none;
  }
  section.about {
    padding: 8em 0 10em 0;
  }
  section.about .about-container .about-desc {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr 1fr;
        grid-template-columns: 1fr 1fr;
  }
  section.about .about-container .about-desc img {
    min-height: 300px;
    -o-object-fit: cover;
       object-fit: cover;
  }
  section.about .about-container .about-desc .about-box {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: start;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: start;
  }
  section.specials {
    padding: 8em 0 10em 0;
  }
  section.specials .specials-container {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr 1fr;
        grid-template-columns: 1fr 1fr;
  }
  section.reservation {
    padding: 8em 0 10em 0;
  }
  section.reservation .reservation-container {
    width: 50vw;
  }
  section.contact {
    padding: 8em 0 10em 0;
  }
  section.contact .contact-container {
    width: 50vw;
  }
}

@media (min-width: 1200px) {
  section.about {
    padding: 10em 0 15em 0;
  }
  section.about .about-container {
    padding: 0;
    width: 1200px;
    gap: 1em;
  }
  section.about .about-container .about-desc {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr 1.5fr;
        grid-template-columns: 1fr 1.5fr;
    padding: 0;
    margin-top: 4em;
  }
  section.about .about-container .about-desc img {
    min-height: 300px;
    -o-object-fit: cover;
       object-fit: cover;
  }
  section.specials {
    padding: 10em 0 15em 0;
  }
  section.specials .specials-container {
    width: 1200px;
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr 1fr 1fr;
        grid-template-columns: 1fr 1fr 1fr;
    gap: 2em;
  }
  section.reservation {
    padding: 10em 0 15em 0;
  }
  section.reservation .reservation-container {
    width: 30vw;
  }
  section.contact {
    padding: 10em 0 15em 0;
  }
  section.contact .contact-container {
    width: 1200px;
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 2fr 1fr;
        grid-template-columns: 2fr 1fr;
        grid-template-areas: "map form";
    gap: 2em;
    padding: 3em 1em 0 0;
  }
  section.contact .contact-container .contact-form {
    -ms-grid-row: 1;
    -ms-grid-column: 2;
    grid-area: form;
  }
  section.contact .contact-container iframe {
    -ms-grid-row: 1;
    -ms-grid-column: 1;
    grid-area: map;
    height: 100%;
    -webkit-box-shadow: 0 5px 20px rgba(0, 0, 0, 0.15);
            box-shadow: 0 5px 20px rgba(0, 0, 0, 0.15);
    margin: 0;
  }
}
/*# sourceMappingURL=maincss.css.map */