* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: "Poppins", sans-serif;
  font-size: 1rem;
}

img {
  width: 100%;
}

li {
  list-style-type: none;
}

a {
  text-decoration: none;
}

button {
  background: none;
  border: none;
}

.p1 {
  padding: 1em;
}

.bg-dark {
  background: rgb(5, 5, 5) !important;
  transition: 0.3s ease-in-out;
}
